@use "../../stylesheets/commons.scss";

body {
    color: #f6f5f0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url(../../images/second/header.png),
        url(../../images/second/footer.png);
    background-size: contain, contain, cover;
    background-position: top, bottom, top;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    margin: 4em 0 2em 0;

    .logo {
        width: 25vw;
        pointer-events: none;
        margin-bottom: 4vw;
    }

    .menu {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        color: #2e3366;
        font-size: 30px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;

        .homepm {
            padding-right: 7vw;
            margin-bottom: 2.5vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
        .archivepm {
            padding-right: 7vw;
            margin-bottom: 2.5vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
        .aboutpm {
            padding-right: 7vw;
            margin-bottom: 2.5vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;

            .navi {
                position: absolute;
                width: 6vw;
                z-index: -1;
            }
        }
        .choicepm {
            padding-right: 7vw;
            margin-bottom: 2.5vw;
        }
        .gamespm {
            padding-right: 7vw;
            margin-bottom: 2.5vw;
        }

        .ad {
            color: #2e3366;
        }
    }
}

.info {
    display: flex;

    .abouttext {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        width: 40em;
        height: fit-content;
        padding-top: 5em;

        .taboutus {
            color: #2e3366;
            font-size: 80px;
            font-family: Roboto;
            font-weight: 400;
            font-style: normal;
            margin-bottom: 0.4em;
        }
        .devide {
            width: 40em;
            height: 0.2em;
            background-color: #2e3366;
            margin-bottom: 1em;
        }
        .weare {
            color: #2e3366;
            font-size: 30px;
            font-family: Roboto;
            font-weight: 400;
            font-style: normal;
        }
    }

    .aboutuspic {
        background-image: url(../../images/second/aboutus.png);
        width: 28em;
        height: 34em;
        background-repeat: no-repeat;
    }
}

footer {
    width: 100%;
    min-height: 26em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .logomini {
        width: 16vw;
        pointer-events: none;
        margin-top: 4vw;
    }

    .menuf {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        color: #2e3366;
        font-size: 30px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
        margin-top: 8vw;

        > div {
            margin-bottom: 2.5vw;
            margin-right: 2vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            background-color: #2e3366;
            width: 8.5em;
            height: 2em;
            border-radius: 10em;

            > a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }

        .ad {
            color: #ffffff;
        }
    }
}

@media (max-width: 1280px) {
    footer {
        min-height: 14em;

        .menuf {
            font-size: 24px;
        }
    }

    .info {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;

        .abouttext {
            padding-top: 4em;
            padding-bottom: 2em;
            width: 30em;

            .taboutus {
                font-size: 60px;
            }
            .devide {
                width: 35em;
                height: 0.15em;
            }
            .weare {
                font-size: 26px;
            }
        }

        .aboutuspic {
            margin-bottom: 2em;
        }
    }
}

@media (max-width: 720px) {
    header {
        align-items: flex-start;
        margin-left: 4em;
        .menu {
            flex-direction: column;
            font-size: 20px;
            align-items: flex-start;

            .homepm {
            }
            .archivepm {
            }
            .aboutpm {
                .navi {
                    width: 16vw;
                }
            }
            .choicepm {
            }
            .gamespm {
            }
        }
    }

    .info {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        .abouttext {
            padding-top: 4em;
            padding-bottom: 2em;
            width: 21em;

            .taboutus {
                font-size: 40px;
            }
            .devide {
                width: 30em;
                height: 0.1em;
            }
            .weare {
                font-size: 20px;
            }
        }

        .aboutuspic {
            margin-bottom: 2em;
        }
    }
}
