@use "../../stylesheets/commons.scss";

body {
    color: #f6f5f0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url(../../images/second/header.png),
        url(../../images/second/footer.png);
    background-size: contain, contain, cover;
    background-position: top, bottom, top;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    margin: 4em 0 2em 0;

    .logo {
        width: 25vw;
        pointer-events: none;
        margin-bottom: 4vw;
    }

    .menu {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        color: #2e3366;
        font-size: 30px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;

        .homepm {
            padding-right: 7vw;
            margin-bottom: 2.5vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
        .archivepm {
            padding-right: 7vw;
            margin-bottom: 2.5vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;

            .navi {
                position: absolute;
                width: 6vw;
                z-index: -1;
            }
        }
        .aboutpm {
            padding-right: 7vw;
            margin-bottom: 2.5vw;
        }
        .choicepm {
            padding-right: 7vw;
            margin-bottom: 2.5vw;
        }
        .gamespm {
            padding-right: 7vw;
            margin-bottom: 2.5vw;
        }

        .ad {
            color: #2e3366;
        }
    }
}

.signs {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    > div {
        position: relative;
        > a {
            position: absolute;
            inset: 0;
            display: block;
        }
    }
    > .tilt {
        width: 12.8em;
        height: 15.2em;
        margin-bottom: 4em;
        margin-right: 2em;
        margin-left: 2em;
        padding-top: 16em;
        background-repeat: no-repeat;
    }
    p {
        color: #838383;
        font-size: 20px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
    }
    .tilt {
        transition: transform 0.2s ease;
    }

    #kz_fruitpb {
        background-image: url(../../images/signs/kz_fruitpb.png);
    }
    #numbers {
        background-image: url(../../images/signs/537.png);
    }
    #tm_kuz {
        background-image: url(../../images/signs/tm_kuz.png);
    }
    #dutroy {
        background-image: url(../../images/signs/dutroy.png);
    }
    #shot {
        background-image: url(../../images/signs/shot.png);
    }
    #artbread {
        background-image: url(../../images/signs/artbread.png);
    }
    #bread {
        background-image: url(../../images/signs/bread.png);
    }
    #teethd {
        background-image: url(../../images/signs/teethd.png);
    }
    #apteka {
        background-image: url(../../images/signs/apteka.png);
    }
    #freedom {
        background-image: url(../../images/signs/freedom.png);
    }
    #hometen {
        background-image: url(../../images/signs/hometen.png);
    }
    #wine {
        background-image: url(../../images/signs/wine.png);
    }
    #de_four {
        background-image: url(../../images/signs/de_four.png);
    }
    #jewelery {
        background-image: url(../../images/signs/jewelery.png);
    }
    #engeneer {
        background-image: url(../../images/signs/engeneer.png);
    }
    #zavod {
        background-image: url(../../images/signs/zavod.png);
    }
    #waterbroken {
        background-image: url(../../images/signs/waterbroken.png);
    }
    #water {
        background-image: url(../../images/signs/water.png);
    }
    #moscow {
        background-image: url(../../images/signs/moscow.png);
    }
    #bulochnaya {
        background-image: url(../../images/signs/bulochnaya.png);
    }
}

footer {
    width: 100%;
    min-height: 26em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .logomini {
        width: 16vw;
        pointer-events: none;
        margin-top: 4vw;
    }

    .menuf {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        color: #2e3366;
        font-size: 30px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
        margin-top: 8vw;

        > div {
            margin-bottom: 2.5vw;
            margin-right: 2vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            background-color: #2e3366;
            width: 8.5em;
            height: 2em;
            border-radius: 10em;

            > a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }

        .ad {
            color: #ffffff;
        }
    }
}

@media (max-width: 1280px) {
    footer {
        min-height: 14em;

        .menuf {
            font-size: 24px;
        }
    }
}

@media (max-width: 720px) {
    header {
        align-items: flex-start;
        margin-left: 4em;
        .menu {
            flex-direction: column;
            font-size: 20px;
            align-items: flex-start;

            .homepm {
            }
            .archivepm {
                .navi {
                    width: 16vw;
                }
            }
            .aboutpm {
            }
            .choicepm {
            }
            .gamespm {
            }
        }
    }

    footer {
        min-height: 8em;

        .menuf {
            font-size: 15px;
        }
    }

    .signs {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        > div {
            position: relative;
            > a {
                position: absolute;
                inset: 0;
                display: block;
            }
        }

        > .tilt {
            width: 7em;
            height: 11em;
            margin-bottom: 2em;
            margin-right: 1em;
            margin-left: 1em;
            padding-top: 8.4em;
            background-repeat: no-repeat;
        }
        p {
            color: #838383;
            font-size: 18px;
            font-family: Roboto;
            font-weight: 400;
            font-style: normal;
        }

        #kz_fruitpb {
            background-image: url(../../images/signs/mobile/kz_fruitpb.png);
        }
        #numbers {
            background-image: url(../../images/signs/mobile/537.png);
        }
        #tm_kuz {
            background-image: url(../../images/signs/mobile/tm_kuz.png);
        }
        #dutroy {
            background-image: url(../../images/signs/mobile/dutroy.png);
        }
        #shot {
            background-image: url(../../images/signs/mobile/shot.png);
        }
        #artbread {
            background-image: url(../../images/signs/mobile/artbread.png);
        }
        #bread {
            background-image: url(../../images/signs/mobile/bread.png);
        }
        #teethd {
            background-image: url(../../images/signs/mobile/teethd.png);
        }
        #apteka {
            background-image: url(../../images/signs/mobile/apteka.png);
        }
        #freedom {
            background-image: url(../../images/signs/mobile/freedom.png);
        }
        #hometen {
            background-image: url(../../images/signs/mobile/hometen.png);
        }
        #wine {
            background-image: url(../../images/signs/mobile/wine.png);
        }
        #de_four {
            background-image: url(../../images/signs/mobile/de_four.png);
        }
        #jewelery {
            background-image: url(../../images/signs/mobile/jewelery.png);
        }
        #engeneer {
            background-image: url(../../images/signs/mobile/engeneer.png);
        }
        #zavod {
            background-image: url(../../images/signs/mobile/zavod.png);
        }
        #waterbroken {
            background-image: url(../../images/signs/mobile/waterbroken.png);
        }
        #water {
            background-image: url(../../images/signs/mobile/water.png);
        }
        #moscow {
            background-image: url(../../images/signs/mobile/moscow.png);
        }
        #bulochnaya {
            background-image: url(../../images/signs/mobile/bulochnaya.png);
        }
    }
}
