@use "../../stylesheets/commons.scss";

body {
    color: #f2f8f9;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url(../../images/second/header.png),
        url(../../images/second/footer.png);
    background-size: contain, contain, cover;
    background-position: top, bottom, top;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    margin: 4em 0 2em 0;

    .logo {
        width: 25vw;
        pointer-events: none;
        margin-bottom: 4vw;
    }

    .menu {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        color: #2e3366;
        font-size: 30px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;

        .homepm {
            padding-right: 7vw;
            margin-bottom: 2.5vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;

            .navi {
                position: absolute;
                width: 6vw;
                z-index: -1;
            }
        }
        .archivepm {
            padding-right: 7vw;
            margin-bottom: 2.5vw;
        }
        .aboutpm {
            padding-right: 7vw;
            margin-bottom: 2.5vw;
        }
        .choicepm {
            padding-right: 7vw;
            margin-bottom: 2.5vw;
        }
        .gamespm {
            padding-right: 7vw;
            margin-bottom: 2.5vw;
        }

        .ad {
            color: #2e3366;
        }
    }
}

.back {
    position: fixed;
    color: #2e3366;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: auto;
    height: 2em;
    border-radius: 10em;
    padding: 1.2em;
    left: 3em;
    top: 6em;

    .ad {
        color: #2e3366;
    }
}

.slides {
    display: flex;
    flex-direction: column;

    .first {
        display: flex;

        background-image: url(../../images/second/firstbg1.png);
        width: 100%;
        height: 48em;
        align-items: center;
        background-repeat: no-repeat;

        .firstimage {
            background-image: url(../../images/signs/firstimage1.png);
            width: 40em;
            height: 37em;
            background-repeat: no-repeat;
        }

        .firsttext {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: -moz-fit-content;
            width: 40%;
            height: -moz-fit-content;
            height: fit-content;
            right: 5%;

            .firstbigtext {
                margin-bottom: 0.4em;
            }
            .firstsmalltext_one {
                margin-bottom: 1em;
            }
            .firstsmalltext_two {
                width: 72%;
            }
        }
    }

    .second {
        display: flex;

        background-image: url(../../images/second/secondbg1.png);
        width: 100%;
        height: 48em;
        margin-bottom: 4em;

        .secondimage {
            background-image: url(../../images/signs/secondimage1.png);
            width: 50em;
            height: 50em;
            background-repeat: no-repeat;
            margin-left: 0.2em;
        }

        .secondtext {
            display: flex;
            flex-direction: column;
            width: 30%;
            margin-top: 3em;

            .secondtextgroup_one {
                display: flex;
                flex-direction: column;
                margin-bottom: 2em;

                .secondbigtext_one {
                    padding-bottom: 0.3em;
                }
                .secondsmalltext_one {
                }
            }
            .secondtextgroup_two {
                display: flex;
                flex-direction: column;

                .secondbigtext_two {
                    padding-bottom: 0.3em;
                }
                .secondsmalltext_two {
                }
            }
        }
    }

    .third {
        display: flex;
        height: 42em;

        .third_image_text {
            display: flex;
            flex-direction: column-reverse;
            padding-left: 3em;

            .thirdimage {
                background-image: url(../../images/signs/thirdimage1.png);
                width: 50em;
                height: 50em;
                background-repeat: no-repeat;
            }
            .thirdbigtext {
                margin-bottom: 0.5em;
            }
        }

        .thirdtext {
            width: 30%;
            padding-top: 6em;
            height: fit-content;
        }
    }
}

#pbig {
    color: #2e3366;
    font-size: 80px;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
}
#psmall {
    color: #2e3366;
    font-size: 22px;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
}

footer {
    width: 100%;
    min-height: 26em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .logomini {
        width: 16vw;
        pointer-events: none;
        margin-top: 4vw;
    }

    .menuf {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        color: #2e3366;
        font-size: 30px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
        margin-top: 2vw;

        > div {
            margin-bottom: 2.5vw;
            margin-right: 2vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            background-color: #2e3366;
            width: 8.5em;
            height: 2em;
            border-radius: 10em;

            > a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }

        .ad {
            color: #ffffff;
        }
    }
}

@media (max-width: 1280px) {
    .firstslide {
        flex-direction: column;

        .herritage {
            margin-right: 0em;
            margin-bottom: 2.2em;
        }
        .who {
            margin-right: 0em;
            margin-bottom: 2.2em;
        }
    }

    footer {
        min-height: 14em;

        .menuf {
            font-size: 24px;
        }
    }

    #pbig {
        color: #2e3366;
        font-size: 65px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
    }
    #psmall {
        color: #2e3366;
        font-size: 18px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
    }

    .slides {
        display: flex;
        flex-direction: column;

        .first {
            display: flex;

            background-image: url(../../images/second/firstbg1.png);
            width: 100%;
            height: 48em;
            align-items: center;
            background-repeat: no-repeat;
            justify-content: center;

            .firstimage {
                background-image: url(../../images/signs/mobile/firstimagemobile1.png);
                width: 20em;
                height: 20em;
                background-repeat: no-repeat;
                margin-right: 2em;
            }

            .firsttext {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 40%;
                height: fit-content;
                padding-left: 2em;

                .firstbigtext {
                    margin-bottom: 0.4em;
                }
                .firstsmalltext_one {
                    margin-bottom: 1em;
                }
                .firstsmalltext_two {
                    width: 72%;
                }
            }
        }

        .second {
            background-image: url(../../images/second/secondbg1.png);
            height: 48em;
            margin-bottom: 4em;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .secondimage {
                background-image: url(../../images/signs/mobile/secondimagemobile1.png);
                width: 22em;
                height: 20em;
                background-repeat: no-repeat;
                margin-left: 0em;
            }

            .secondtext {
                width: 30%;
                margin-top: 3em;
                width: 100%;
                flex-direction: row;

                .secondtextgroup_one {
                    display: flex;
                    flex-direction: column;
                    margin: 0em 1em 0em 1em;

                    .secondbigtext_one {
                        padding-bottom: 0.3em;
                    }
                    .secondsmalltext_one {
                    }
                }
                .secondtextgroup_two {
                    margin: 0em 1em 0em 1em;
                    .secondbigtext_two {
                        padding-bottom: 0.3em;
                    }
                    .secondsmalltext_two {
                    }
                }
            }
        }

        .third {
            display: flex;
            height: 24em;

            .third_image_text {
                padding-left: 3em;

                .thirdimage {
                    background-image: url(../../images/signs/mobile/thirdimagemobile1.png);
                    width: 25em;
                    height: 50em;
                    background-repeat: no-repeat;
                }
                .thirdbigtext {
                    margin-bottom: 0.5em;
                }
            }

            .thirdtext {
                width: 30%;
                padding-top: 6em;
                height: fit-content;
            }
        }
    }
}

@media (max-width: 720px) {
    header {
        align-items: flex-start;
        margin-left: 4em;
        .menu {
            flex-direction: column;
            font-size: 20px;
            align-items: flex-start;

            .homepm {
                .navi {
                    width: 16vw;
                }
            }
            .archivepm {
            }
            .aboutpm {
            }
            .choicepm {
            }
            .gamespm {
            }
        }
    }

    .firstslide {
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;

        .cards {
            background-image: url(../../images/second/cardmini.png);
            width: 11em;
            height: 12em;
        }

        .herritage {
            margin-right: 0em;
            margin-bottom: 1.4em;
            width: 18em;
            height: 10em;

            .firsttext {
                margin-bottom: 1em;

                .lets {
                    font-size: 20px;
                    margin-bottom: 0.8em;
                }
                .projects {
                    font-size: 15px;
                }
            }

            .maild {
                .mailm {
                    font-size: 15px;
                }
            }
        }

        .who {
            margin-right: 0em;
            margin-bottom: 1.4em;
            width: 18em;
            height: 10em;

            .whoweare {
                font-size: 40px;
            }
            .team {
                font-size: 16px;
            }
            .recdev {
                width: 10em;
                height: 0.1em;
            }
        }
    }

    footer {
        min-height: 8em;

        .menuf {
            font-size: 15px;
        }
    }

    #pbig {
        color: #2e3366;
        font-size: 40px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
    }
    #psmall {
        color: #2e3366;
        font-size: 14px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
    }

    .slides {
        display: flex;
        flex-direction: column;

        .first {
            display: flex;

            background-image: url(../../images/second/firstbg1.png);
            width: 100%;
            height: 48em;
            align-items: center;
            background-repeat: no-repeat;
            justify-content: center;
            flex-direction: column;

            .firstimage {
                background-image: url(../../images/signs/mobile/firstimagemobile1.png);
                width: 20em;
                height: 20em;
                background-repeat: no-repeat;
                margin-right: 2em;
            }

            .firsttext {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 40%;
                height: fit-content;
                padding-left: 2em;

                .firstbigtext {
                    margin-bottom: 0.4em;
                }
                .firstsmalltext_one {
                    margin-bottom: 1em;
                }
                .firstsmalltext_two {
                    width: 72%;
                }
            }
        }

        .second {
            background-image: url(../../images/second/secondbg1.png);
            height: 48em;
            margin-bottom: 4em;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .secondimage {
                background-image: url(../../images/signs/mobile/secondimagemobile1.png);
                width: 22em;
                height: 20em;
                background-repeat: no-repeat;
                margin-left: 0em;
            }

            .secondtext {
                width: 30%;
                margin-top: 3em;
                width: 80%;
                flex-direction: column;

                .secondtextgroup_one {
                    display: flex;
                    flex-direction: column;
                    margin: 0em 1em 0em 1em;

                    .secondbigtext_one {
                        padding-bottom: 0.3em;
                    }
                    .secondsmalltext_one {
                    }
                }
                .secondtextgroup_two {
                    margin: 2em 1em 0em 1em;
                    .secondbigtext_two {
                        padding-bottom: 0.3em;
                    }
                    .secondsmalltext_two {
                        width: 100%;
                    }
                }
            }
        }

        .third {
            display: flex;
            height: 30em;
            flex-direction: column;
            align-items: center;

            .third_image_text {
                padding-left: 0em;
                .thirdimage {
                    background-image: url(../../images/signs/mobile/thirdimagemobile1.png);
                    width: 22em;
                    height: 18em;
                    background-repeat: no-repeat;
                }
                .thirdbigtext {
                    margin-bottom: 0.5em;
                }
            }

            .thirdtext {
                width: 60%;
                padding: 0;
            }
        }
    }
}
