* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    scrollbar-color: rgb(100, 120, 160) rgb(255 255 255 / 0%);
    scrollbar-width: thin;
    overflow-x: hidden;
}

body,
h1 {
    font-family: Rofora, serif;
    font-size: 24px;
    font-weight: 400;
}
